### Data Collection

**Import Pandas**

In [25]:
import pandas as pd

**Load Dataset**

In [26]:
df = pd.read_csv('../data/15000_spotify_tracks.csv')

**Check Data Types**

In [27]:
data_types = df.dtypes
print(data_types)

Track                object
Artist               object
Year                  int64
Duration              int64
Time_Signature        int64
Danceability        float64
Energy              float64
Key                   int64
Loudness            float64
Mode                  int64
Speechiness         float64
Acousticness        float64
Instrumentalness    float64
Liveness            float64
Valence             float64
Tempo               float64
Popularity            int64
Genre                object
dtype: object

### Data Exploration

**Understanding the Structure**

**View First Few Rows**

In [28]:
df.head()

,Track,Artist,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Genre
0,Hey Jack Kerouac,"10,000 Maniacs",1987,206413,4,0.616,0.511,6,-15.894,1,0.0279,0.03840,0.000000,0.1500,0.604,132.015,40,Alt. Rock
1,Like the Weather,"10,000 Maniacs",1987,236653,4,0.770,0.459,1,-17.453,1,0.0416,0.11200,0.003430,0.1450,0.963,133.351,43,Alt. Rock
2,What's the Matter Here?,"10,000 Maniacs",1987,291173,4,0.593,0.816,9,-7.293,1,0.0410,0.00449,0.000032,0.0896,0.519,99.978,12,Alt. Rock
3,Trouble Me,"10,000 Maniacs",1989,193560,4,0.861,0.385,2,-10.057,1,0.0341,0.15400,0.000000,0.1230,0.494,117.913,47,Alt. Rock
4,Candy Everybody Wants,"10,000 Maniacs",1992,185960,4,0.622,0.876,10,-6.310,1,0.0305,0.01930,0.006840,0.0987,0.867,104.970,43,Alt. Rock

**DataFrame Information**

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track             15150 non-null  object
 1   Artist            15150 non-null  object
 2   Year              15150 non-null  int64
 3   Duration          15150 non-null  int64
 4   Time_Signature    15150 non-null  int64
 5   Danceability      15150 non-null  float64
 6   Energy            15150 non-null  float64
 7   Key               15150 non-null  int64
 8   Loudness          15150 non-null  float64
 9   Mode              15150 non-null  int64
 10  Speechiness       15150 non-null  float64
 11  Acousticness      15150 non-null  float64
 12  Instrumentalness  15150 non-null  float64
 13  Liveness          15150 non-null  float64
 14  Valence           15150 non-null  float64
 15  Tempo             15150 non-null  float64
 16  Popularity        15150 non-null  int64
 17  Genre             15150 non-null  object
dtypes: float64(9), int64(6), object(3)
memory usage: 2.1+ MB

**Summary Statistics**

In [30]:
df.describe()

,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity
count,15150.000000,1.515000e+04,15150.000000,15150.000000,15150.000000,15150.000000,15150.000000,15150.000000,15150.000000,15150.000000,15150.000000,15150.000000,15150.000000,15150.000000,15150.000000
mean,1984.709769,2.413028e+05,3.921650,0.574667,0.617691,5.257624,-9.154545,0.696634,0.075791,0.302651,0.091046,0.200062,0.571146,120.664078,43.025809
std,19.482460,1.057966e+05,0.348322,0.166208,0.239527,3.569713,4.289558,0.459727,0.077704,0.317793,0.229075,0.175196,0.250969,29.181107,20.788038
min,1899.000000,2.300000e+04,0.000000,0.000000,0.000098,0.000000,-47.359000,0.000000,0.000000,0.000001,0.000000,0.012400,0.000000,0.000000,0.000000
25%,1971.000000,1.803700e+05,4.000000,0.461000,0.442000,2.000000,-11.736750,0.000000,0.034325,0.024225,0.000000,0.091900,0.371000,98.672500,28.000000
50%,1983.000000,2.228525e+05,4.000000,0.582000,0.644000,5.000000,-8.480500,1.000000,0.046400,0.167000,0.000084,0.130000,0.586000,118.777000,44.000000
75%,1998.000000,2.751530e+05,4.000000,0.696000,0.819000,8.000000,-5.955500,1.000000,0.078400,0.557000,0.012400,0.257000,0.782000,138.073250,59.000000
max,2024.000000,3.060650e+06,5.000000,0.988000,0.999000,11.000000,0.919000,1.000000,0.950000,0.996000,0.987000,0.996000,0.989000,219.973000,98.000000

**Column Names**

In [31]:
df.columns = df.columns.str.casefold()

for col in df.columns:
    print("-" * 50)
    print(col + f" ({str(df[col].dtype)})")
    print("\tNA Values: ", df[col].isna().sum())
    print("\tUnique Values: ", df[col].nunique())
print("-" * 50)

--------------------------------------------------
track (object)
	NA Values:  0
	Unique Values:  13771
--------------------------------------------------
artist (object)
	NA Values:  0
	Unique Values:  3083
--------------------------------------------------
year (int64)
	NA Values:  0
	Unique Values:  108
--------------------------------------------------
duration (int64)
	NA Values:  0
	Unique Values:  8612
--------------------------------------------------
time_signature (int64)
	NA Values:  0
	Unique Values:  5
--------------------------------------------------
danceability (float64)
	NA Values:  0
	Unique Values:  840
--------------------------------------------------
energy (float64)
	NA Values:  0
	Unique Values:  1145
--------------------------------------------------
key (int64)
	NA Values:  0
	Unique Values:  12
--------------------------------------------------
loudness (float64)
	NA Values:  0
	Unique Values:  9061
--------------------------------------------------
mode (int64)
	NA Values:  0
	Unique Values:  2
--------------------------------------------------
speechiness (float64)
	NA Values:  0
	Unique Values:  1167
--------------------------------------------------
acousticness (float64)
	NA Values:  0
	Unique Values:  3260
--------------------------------------------------
instrumentalness (float64)
	NA Values:  0
	Unique Values:  4113
--------------------------------------------------
liveness (float64)
	NA Values:  0
	Unique Values:  1543
--------------------------------------------------
valence (float64)
	NA Values:  0
	Unique Values:  1167
--------------------------------------------------
tempo (float64)
	NA Values:  0
	Unique Values:  12984
--------------------------------------------------
popularity (int64)
	NA Values:  0
	Unique Values:  98
--------------------------------------------------
genre (object)
	NA Values:  0
	Unique Values:  19
--------------------------------------------------

**Shape of the Data**

In [32]:
df.shape

(15150, 18)

**Missing Values**

**View Missing Values**

In [33]:
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 track               0
artist              0
year                0
duration            0
time_signature      0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
popularity          0
genre               0
dtype: int64

### Exploratory Analysis

In [34]:
continuous_cols = ["duration", "danceability", "energy", "loudness", "speechiness", "acousticness", "instrumentalness", "liveness", "valence", "tempo"]

In [35]:
discrete_cols = ["year", "key", "popularity"]

In [36]:
ordinal_cols = ["time_signature", "mode"]

In [37]:
nominal_cols = ["track", "artist", "genre"]

In [38]:
import matplotlib.pyplot as plt